---
import "../styles/global.css";
import { ClientRouter } from "astro:transitions";

const { class: className } = Astro.props;
---

<html lang="en" class="h-full">
  <head>
    <!-- Global Metadata -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <meta name="generator" content={Astro.generator} />

    <!-- Primary Meta Tags -->
    <title>{"David's Blog"}</title>
    <meta name="title" content={"David's Blog"} />
    <meta name="description" content={"David's Blog"} />

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website" />
    <meta property="og:url" content={Astro.url} />
    <meta property="og:title" content={"David's Blog"} />
    <meta property="og:description" content={"David's Blog"} />

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content={Astro.url} />
    <meta property="twitter:title" content={"David's Blog"} />
    <meta property="twitter:description" content={"David's Blog"} />

    <ClientRouter />
  </head>
  <body
    class="font-sans text-neutral-900 bg-neutral-50 antialiased transition-colors min-h-full flex flex-col justify-center items-center"
  >
    <div class:list={["mx-auto p-4 selection:bg-blue-100 selection:text-blue-500", className || "w-xs sm:w-xl"]}>
      <slot />
    </div>
  </body>
</html>