---
import Layout from "../layouts/Layout.astro";
---

<Layout
  className="flex h-svh max-w-sm flex-col justify-center"
>
<main class="space-y-4">
  <p class="text-3xl font-bold">董皓宇（David）</p>
  <p>三年的前端开发经验, 曾在腾讯音乐和北大研究院实习和工作过，具备AI应用层、前端 dApp、数据可视化开发的实践经验。</p>
  <p>目前正在寻求一些新的工作机会，欢迎<a href="/resume.pdf" class="underline cursor-pointer">联系我</a> 👋。</p>
</main>
 
</Layout>